<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- ==================================================================== -->

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- ==================================================================== -->

        <title>TicketFest - Nombre del Grupo</title>
        <meta
            name="description"
            content="Descripción de la página. Menos de 150 caracteres."
        />
        <meta name="keywords" content="Palabras, Clave, de, la, página." />
        <meta name="robots" content="index,follow" />

        <!-- ===========================[Preconnects]============================ -->

        <!-- ==================================================================== -->

        <link rel="stylesheet" href="../styles/main.min.css" media="all" />

        <!-- =============================[Preloads]============================= -->

        <!-- ==================================================================== -->

        <script src="../js/app.js" defer></script>
        <script
            src="https://kit.fontawesome.com/1e193e3a23.js"
            crossorigin="anonymous"
        ></script>

        <!-- ==================================================================== -->

        <meta name="author" content="Nombre del Creador de la Página." />
        <meta name="apple-mobile-web-app-title" content="Page Name" />
        <meta name="application-name" content="Page Name" />
        <meta name="theme-color" content="#4a78fc" />

        <!-- ==================================================================== -->

        <link
            rel="shortcut icon"
            href="../assets/images/TicketFest_Icon.svg"
            type="image/x-icon"
        />
        <link
            rel="apple-touch-icon"
            href="../assets/images/TicketFest_Icon.svg"
        />
        <!-- <link rel="manifest" href="/TicketFest//build/manifest.webmanifest" /> -->

        <!-- ==================================================================== -->

        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.website.com/" />
        <meta property="og:title" content="Title — Subtitle" />
        <meta
            property="og:description"
            content="Descripción de la página. Menos de 150 caracteres."
        />
        <meta
            property="og:image"
            content="https://www.website.com/media/MetaImage.png"
        />

        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://www.website.com/" />
        <meta property="twitter:title" content="Title — Subtitle" />
        <meta
            property="twitter:description"
            content="Descripción de la página. Menos de 150 caracteres."
        />
        <meta
            property="twitter:image"
            content="https://www.website.com/media/MetaImage.png"
        />

        <!-- ==================================================================== -->
    </head>

    <body>
        <div class="modal hide">
            <div class="modal__container">
                <button class="closeModal" onclick="closeModal()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
                <i class="fa-solid fa-qrcode icon"></i>
                <h3 class="title">Codigo de Invitación</h3>
                <div class="input">
                    <input
                        class="input__input"
                        type="text"
                        id="invCode"
                        autocomplete="off"
                        placeholder=" "
                        value="<%= group_data[0].inv_code %>"
                    />
                    <label for="invCode" class="input__label"
                        >Codigo de Invitación</label
                    >
                    <button class="copy" onclick="copyCode()">
                        <i class="fa-regular fa-copy"></i>
                    </button>
                </div>
                <p>
                    <i class="fa-regular fa-circle-question"></i> Comparte este
                    codigo con las personas que quieran unirse al ticket.
                </p>
            </div>
        </div>

        <div class="loading">
            <div class="loading__container">
                <img
                    src="/assets/images/Ticket_Icon.svg"
                    alt="TicketFest Icon"
                />

                <div class="lds-dots">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <span class="brand">
                <h4>Powered By</h4>
                <h3>Kybera</h3>
            </span>
        </div>
        <%- include('../partials/header') %>

        <main>
            <div class="header__container">
                <div class="message">
                    <h1>
                        <span><%= group_data[0].nombre %></span>
                    </h1>
                </div>

                <div class="actualDate">
                    <p>
                        <i class="fa-regular fa-calendar-days"></i> 5 de
                        Setiembre de 2022
                    </p>
                </div>
            </div>
            <div class="card__container">
                <div class="card">
                    <div class="list">
                        <div class="list__header">
                            <h2>
                                <i class="fa-solid fa-list-ul"></i> Miembros
                            </h2>
                            <button onclick="groupQR()">
                                <i class="fa-solid fa-qrcode"></i>
                            </button>
                        </div>
                        <div class="list__container">
                            <% for(let i=0; i < group_members.length; i++) { %>
                            <div class="user">
                                <div class="userLeft">
                                    <div class="icon">
                                        <h2><%= group_members[i].nombre.charAt(0) %></h2>
                                    </div>
                                    <h3 class="name"><%= group_members[i].nombre %></h3>
                                </div>
                                <div class="userRight">
                                    <button>
                                        <i class="fa-solid fa-user-slash"></i>
                                    </button>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <!-- <div class="list-empty">
                        <p>
                            <i class="fa-solid fa-circle-info"></i> No tienes
                            grupos aún. <br />
                            Crea un grupo o unete a uno.
                        </p>
                        <a
                            href="../modules/createGroup.html"
                            class="card-btn"
                            ><i class="fa-solid fa-person-circle-plus"></i>
                            Crear Grupo</a
                        >
                        <a href="" class="card-btn">
                            <i class="fa-solid fa-arrow-right-to-bracket"></i>
                            Unirse a un Grupo</a
                        >
                    </div> -->
                </div>
            </div>
        </main>

        <%- include('../partials/navigation') %>
    </body>
</html>
